package main

import (
	"os"

	"github.com/urfave/cli/v2"
)

func main() {
	var dryRun bool
	dryRun = true

	app := &cli.App{
		Commands: []*cli.Command{
			{
				Name:    "allUp",
				Usage:   "create all target",
				Action: func(c *cli.Context) error {
					return AllUp(dryRun)
				},
			},
			{
				Name:    "allDown",
				Usage:   "drop all target",
				Action: func(c *cli.Context) error {
					return AllDown(dryRun)
				},
			},
			{{- range .TablesData}}
			{
				Name:    "{{.RefName}}",
				Usage:   "manage table {{.RefName}}",
				Subcommands: []*cli.Command{
					{
						Name:  "up",
						Usage: "create table {{.RefName}}",
						Action: func(c *cli.Context) error {
							return {{.TargetName}}Up(dryRun)
						},
					},
					{
						Name:  "down",
						Usage: "drop table {{.RefName}}",
						Action: func(c *cli.Context) error {
							return {{.TargetName}}Down(dryRun)
						},
					},
				},
			},
			{{- end}}
			{{- range .ViewsData}}
			{
				Name:    "{{.RefName}}",
				Usage:   "manage view {{.RefName}}",
				Subcommands: []*cli.Command{
					{
						Name:  "up",
						Usage: "create view {{.RefName}} also export data if specified",
						Action: func(c *cli.Context) error {
							return {{.TargetName}}Up(dryRun)
						},
					},
					{
						Name:  "down",
						Usage: "drop view {{.RefName}}",
						Action: func(c *cli.Context) error {
							return {{.TargetName}}Down(dryRun)
						},
					},
				},
			},
			{{- end}}
		},
	}

	err := app.Run(os.Args)
	if err != nil {
		exitWithError(err)
	}
}
