package viewsql
{{range .}}
// {{toExportedName .TargetName}}Create contains SQL to create view {{.RefName}}
var {{toExportedName .TargetName}}Create = `
CREATE VIEW {{.SQLFullName}} AS
{{.SQL -}}
`

// {{toExportedName .TargetName}}Drop contains SQL to drop view {{.RefName}}
var {{toExportedName .TargetName}}Drop = `DROP VIEW IF EXISTS {{.SQLFullName}}`
{{end}}
